<h1 class="addBorderTopBottom hay0">FT FORUM</h1>
<div class="feedContainer">
    <div class="forumContent">
        <h2 class="sbDate hay8">09.27.13</h2>
        <h2 class="sbTitle hay2">IM GETTING AN UPLOAD ERROR</h2>
        <p>I&#39;ve entered my clicktags to my button but it still isn&#39;t working. Here&#39;s my error:<br> ~ BRIAN</p>
    </div>
    <div id="readMore" class="sideBarLinks"><a href="ftForum.html" rel="" target="_parent">Read More >></a></div>
    <div class="forumContent">
        <h2 class="sbDate hay8">09.27.13</h2>
        <h2 class="sbTitle hay2">MY CLICKTAGS DON&#39;T CLICK</h2>
        <p>I&#39;ve entered my clicktags to my button but it still isn&#39;t working. Here&#39;s my error:<br> ~ CHRIS</p>
    </div>
    <div id="readMore" class="sideBarLinks"><a href="ftForum.html" rel="" target="_parent">Read More >></a></div>
</div>