<h1 class="addBorderTopBottom hay0">NEWS FEED</h1>
<div class="feedContainer">
    <div class="newsContent">
        <h2 class="sbDate hay8">10.04.13</h2>
        <h2 class="sbTitle hay2">COMPONENT UPDATE!</h2>
        <p>Latest ad set up component has been released. browser compatibility updated.</p>
    </div>
    <ul class="action_icons hay0">
        <li><img src="./assets/download_icon.jpg"  ="auto" height="100%"></li>
        <li><img src="./assets/readMeFile_icon.jpg" width="auto" height="100%"></li>
    </ul>
    <div class="newsContent">
        <h2 class="sbDate hay8">10.01.13</h2>
        <h2 class="sbTitle hay2">NEW HTML5 TEMPLATES</h2>
        <p>A few new templates for html5 have been added, bringing a dynamic carousel.</p>
    </div>
    <ul class="action_icons hay0">
        <li><img src="./assets/download_icon.jpg" width="auto" height="100%"></li>
        <li><img src="./assets/readMeFile_icon.jpg" width="auto" height="100%"></li>
    </ul>
    <div class="newsContent">
        <h2 class="sbDate hay8">09.27.13</h2>
        <h2 class="sbTitle hay2">YOUTUBE TRACKING TIPS</h2>
        <p>Add a youtube video to your units while stillmaintaining the unprecedented reportingfrom flashtalking components.</p>
    </div>
</div>
<div id="moreNews" class="sideBarLinks"><a href="" target="_blank">More NEWS >></a></div>